In [16]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt

In [17]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [18]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [83]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june = dt.date(2016, 6, 30) - dt.timedelta(days=30)

In [84]:
#  3. Convert the June temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= june).all()

In [85]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(results, columns=['date','June Temps'])

In [86]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  2759.000000
mean     75.002175
std       4.463046
min      58.000000
25%      72.000000
50%      76.000000
75%      78.000000
max      87.000000

## D2: Determine the Summary Statistics for December

In [71]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december = dt.date(2016, 12, 31) - dt.timedelta(days=31)

In [72]:
# 7. Convert the December temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs).filter(Measurement.date >= december).all()

In [73]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(results, columns=['date','December Temps'])

In [74]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_df.describe()

       December Temps
count     1604.000000
mean        73.769327
std          4.858230
min         58.000000
25%         70.000000
50%         74.000000
75%         77.000000
max         87.000000